@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght@8..144,-10..0,25..151,100..1000&display=swap');

* {
    font-family: 'Roboto Flex', sans-serif;
    font-variation-settings:
        'wdth' 120,
        'wght' 400;

    ::selection {
        background: #000;
        color: #fff;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .field {
        width: 25vw;
        height: 25vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: default;
        text-decoration: none;
        color: #fff;
        text-align: center;

        h1 {
            font-variation-settings:
                'wdth' 120,
                'wght' 400;
            transition: all 0.3s ease-in-out;
            margin: -0.5rem 0 0.5rem 0;
        }

        .icon {
            width: 2rem !important;
            height: 2rem !important;
            filter: invert(1);
            transition: all 0.3s ease-in-out;
        }
    }

    .field:hover {
        h1 {
            font-variation-settings:
                'wdth' 150,
                'wght' 1000;
        }
    }

    .done,
    .found {
        background-color: #fff;
        cursor: pointer;
        color: #000;

        h2 {
            font-variation-settings:
                'wdth' 120,
                'wght' 400;
        }

        .icon {
            filter: invert(0);
        }
    }

    .options {
        cursor: pointer;
    }

    .found:hover,
    .options:hover {
        .icon {
            transform: scale(1.2);
        }
    }
}

#overlay,
#options {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    max-width: 80vw;
    height: fit-content;
    max-height: 80vh;
    background-color: #fff;
    color: #000;
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem 3rem;
    border: #000 5px solid;

    h1 {
        margin: 1rem 0 0.5rem 0;
        font-variation-settings:
            'wdth' 150,
            'wght' 1000;
    }

    h2 {
        margin: 0.5rem 0;
    }

    button {
        padding: 0.5rem 1rem;
        margin: 1rem;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.3s ease-in-out;

        .icon {
            width: 2rem !important;
            height: 2rem !important;
            filter: invert(1);
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            filter: invert(1);
            font-variation-settings:
                'wdth' 150,
                'wght' 800;
        }
    }

    .close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow: auto;
    }

    #container {
        .field {
            width: 50vw;
            height: 20vh;
            min-height: 5rem;

            h1 {
                font-size: 1.2rem;
                font-variation-settings:
                    'wdth' 150,
                    'wght' 800;
                margin: 0 0 0.5rem 0;
            }

            h2 {
                font-size: 1rem;
            }

            .icon {
                width: 1.5rem !important;
                height: 1.5rem !important;
            }
        }
    }

}